src/main/resources/jaxb/smsone_api/ussd_response.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <!-- XML Schema Generated from XML Document on Wed Nov 08 2017 18:08:27 GMT+0300 (EAT) -->
    <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
    <xs:element name="USSDResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="TransactionId" type="xs:string"></xs:element>
                <xs:element name="TransactionTime" type="xs:string"></xs:element>
                <xs:element name="USSDResponseString" type="xs:string"></xs:element>
                <xs:element name="USSDAction" type="xs:string"></xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>