src/main/resources/jaxb/smsone_api/ussd_request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <!-- XML Schema Generated from XML Document on Wed Nov 08 2017 18:05:05 GMT+0300 (EAT) -->
    <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
    <xs:element name="USSDRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="TransactionId" type="xs:string"></xs:element>
                <xs:element name="TransactionTime" type="xs:string"></xs:element>
                <xs:element name="MSISDN" type="xs:string"></xs:element>
                <xs:element name="USSDServiceCode" type="xs:string"></xs:element>
                <xs:element name="USSDRequestString" type="xs:string"></xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>